
@media only screen and (min-width: 1200px) {  
    /* HEADER */
    .bountiful-name{
        font-size: 40px;
    }
    .site-menu a{
        margin: 0 35px 0 35px;
        font-size: 16px;
    }
    button {
        display: none;
    }
    #nav-menu{
        display:flex;
        padding-top: 55px;
        margin: 0 150px; 

    }
    .navbar{
        display:flex;
        justify-content: space-between;
    }
    #nav-menu li{
        background-color: white;
        border-bottom: 1px solid #ffffff;
    }





    /* FOOTER */
    .footer-nav ul {
        display: flex; 
        justify-content: space-between; 
    }
    .footer-nav ul li {
        margin-right: 20px; 
    }
    .footer-nav ul li:nth-child(3) a {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
}



