
@media only screen and (min-width: 1280px) {  
    .bountiful-name{
        font-size: 40px;
        }
        #nav-menu {
            margin: 0 40px;  /*You can move "About US" more to the left on larger view */
          }

          .site-menu a{
            margin: 0 35px 0 35px;
            font-size: 16px;
        }
    /* FOOTER */
    .footer-nav ul {
        display: flex; 
        justify-content: space-between; 
    }
    .footer-nav ul li {
        margin-right: 20px; 
    }
    .footer-nav ul li:nth-child(3) a {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
}



