@media (min-width: 680px) {

    /********************* HOME*********************/
        /* HEADER*/
    .header-hr {
        margin-top: 20px;
        margin-bottom: 5px;
    }
        /* top */
        .contact-info img{
            display: inline;
        }
    .contact-info a:first-child {
        display: inline;
      }
      .header-top a{
        color: black;
        font-size: auto;
        font-weight: 300;
    }
      /* header icons */
      .social-media img{
        width: 42px;
        margin-right:10px
    }
    .contact-info img{
        width: 30px;
    }
    /* brand title */
    .bountiful-name{
        padding-top: 40px;
        font-size: 2.5rem;
        }
    .logo{
        width: 70px;
        margin-right:10px
    }
    /* hamburguerSwitch */
    button {
        margin-top: 20px;
        font-size: 2.8rem;
    }
    #nav-menu li a{
        font-size: 20px;
    }
    
        /* MAIN */
    /* hero section */
    .cta-button {
        padding: 25px 30px;

    }
    .hero-button{
        font-size: 18px;
    }
    /* location top */
    .featured-location{
        font-size: 250%;
    }

    .featured-location h2{
        font-size: 20px;

    }
    .featured-location p{
        font-size: 14px;
        line-height: 1.5rem;
    }
    .featured-location a{
        font-size: 14px;
    }
    /* Produce */
    .produce h2{
        margin: 180px 0 40px 0;
    }
    .product-card img{
        width: 250px;
    }
    .product-card {
        margin: 30px;
    }
    .produce-container .product-card{
        width: 325px;
    }
    /* diydrinks */
    .diy-drinks{
        margin-bottom: 200px;
    }
    /* location bottom */
    .location-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .featured-location h3{
        padding: 30px 0 35px 0;
        font-size: 30px;
    }
    .featured-location .laguna-description{
        padding-top: 0;
        margin: 0px 30px;
        display: grid;
        align-items: center; 
        height: 80%;
        font-size: 35%;
    }
    .featured-location img{
        box-shadow: 4px 4px 8px rgba(126, 93, 93, 0.3);
        border-radius: 4px;
    } 

    /* weather */
    .weather-card{
        margin: 8% 20%;
    }

    .forecast .temperature{
        font-size: 22px;
    }


    
        /* FOOTER */
    footer{
        padding: 20px 50px 10px;
    }
    .footer-logo, .footer-nav, .footer-contactinfo{
        flex-basis: 25%;
    }
    ul li{
        margin-bottom: 5px;
    }
    .contact-top{
        border-bottom: 3px solid white;
    }
    hr{
        border-bottom: .5px solid white;
    }
    .end-footer{
        text-align: center;
        font-size: 12px;
    }

/*---------------------------------------------------------------*/
/*----------------------------  FRESH  --------------------------*/
/*---------------------------------------------------------------*/
    .refresh h2{
        padding: 40px 20px;
        color: #F36664;
        font-size: 32px;
        text-align: center;
    }
    fieldset {
        width: 650px;
        border: none;
    }
    .order-conf {
        width: 650px;
    }
    .form div{
        margin-left: auto;
    }
/*---------------------------------------------------------------*/
/*----------------------------  ABOUT US ------------------------*/
/*---------------------------------------------------------------*/
.about-us{
    margin: 90px 20px;
}
.about-top, .visit-1, .visit-2, .about-bottom, .organic-imgdiv{
    text-align: center;
}
.story-div{
    margin-top: 22px;
}

.farmers-img, .organic-img{
    width: 600px;
}
.organic-img{
    border-radius: 35px;
    padding-top: 0;
    margin-top: 50px;
}
.larger-font {
    padding: 20px 30px;
    color: #D36342;
    font-size: 32px;
    line-height: 43px;
    /* font-weight: 700; */
}
.map{
    margin: 8px 0;
    width: 600px;
}
.visit-2 ul{
    list-style: none;
}
.about-bottom{
    margin: 40px 0 150px 0;
}

}   