@media (min-width: 680px) {

/********************* HOME*********************/
        /* HEADER*/
    .header-hr {
        margin-top: 20px;
        margin-bottom: 5px;
    }
        /* top */
        .contact-info img{
            display: inline;
        }
    .contact-info a:first-child {
        display: inline;
      }
      .header-top a{
        color: black;
        font-size: auto;
        font-weight: 300;
    }
      /* header icons */
      .social-media img{
        width: 42px;
        margin-right:10px
    }
    .contact-info img{
        width: 30px;
    }
    /* brand title */
    .bountiful-name{
        padding-top: 40px;
        font-size: 40px;
        }
    .logo{
        width: 70px;
        margin-right:10px
    }
    /* hamburguerSwitch */
    button {
        margin-top: 20px;
        font-size: 2.6rem;
    }

    


        /* FOOTER */
    footer{
        padding: 20px 50px 10px;
    }
    .footer-logo, .footer-nav, .footer-contactinfo{
        flex-basis: 25%;
    }
    footer {
        bottom: 0; 
    }
    ul li{
        margin-bottom: 5px;
    }
    .contact-top{
        border-bottom: 3px solid white;
    }
    hr{
        border-bottom: .5px solid white;
    }
    .end-footer{
        text-align: center;
        font-size: 12px;
    }

}   