@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300&family=Montserrat:wght@100;200;300;400;600&display=swap');

/* BODY - ALL */
*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/********************* HOME*********************/
/* HEADER - ALL */
header{
    margin-top: 15px;
    margin-bottom: 30px;
    width:100%;
    padding: 10px 3%;
    background: white;
}
.header-hr {
    border: none;
    height: 1px;
    background-color: #F36664; 
    margin-top: 10px;
    margin-bottom: 0px;
}

/* HEADER ICONS */
.social-media img{
    width: 39px;
    margin-right: 4px
}
.contact-info img{
    width: 20px;
    display: none;
}

/* HEADER TOP */
.header-top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}
.header-top{
    align-items: center;
    margin-bottom: 0px ;
}
.header-top a{
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.contact-info a{
    margin-right:45px;
}
.contact-info a:first-child {
    display: none;
  }
  
/* HEADER BOTTOM */
/* brand title */
.company-brand{
    display: flex;
}
.bountiful-name{
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #737373;
}
.logo{
    width: 40px;
}
.navbar{
    padding-top: 8px;
}
/* hamburguer menu button*/
.hamb-menu{
    position: absolute;
    padding: 1rem;
    right: 1rem;
    display:flex;  /*(this is what we want to hide in larger views)*/
    flex-direction: column;
    justify-content: space-between;
}
/* hamburguerSwitch */
button {
    background: transparent;
    border: none;
    font-size: 2rem;
    margin-top: -6px;
    color: #737373;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
    /* color: #984710;
    background-color: #f2d4c0; */
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
 #hamburgerBtn.open span:nth-child(2) {
    display: block;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
/* menu bar display "navbar" */
#nav-bar{
    padding-top: 15px;
}
#nav-menu{
    display:none;
}
#nav-menu li{
    list-style:none;
}
#nav-menu li a{
    text-decoration: none;
    color: gray;
    padding: 1rem;
}
#nav-menu li{
    background-color: white;
    border-bottom: 1px solid #f8b4b3;
    text-align: center;
    padding: .9rem 1rem;
}

/* current & Hover */
#nav-bar a:hover{
    color: #F36664;
}
#current a {
    color: #F36664 !important;
    font-weight: 600;
}
/* toggle menu */
#nav-menu.open{
    display: block;
}


/********************* MAIN *********************/ 
main div{

    /* border: solid 0.5px #fffefe; */
}
/* HERO IMAGE */
.hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* HERO BUTTON */
  .cta-button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color:  #ffbb5c;
    border: 4px solid #fff;
  }
  .hero-button{
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  /* FEATURED LOCATION TOP ADD*/
.featured-location{
    margin-top: 30px;
    width: 100%;
    background-color: #fbd595;
    text-align: center;
    padding: 30px;
}
.featured-location h2{
    font-size: 16px;
    padding-bottom: 10px;
}
.featured-location p{
    font-size: 10px;
    line-height: 1rem;
    
}
.laguna{
    font-weight: 900;
}
.featured-location a{
    font-size: 12px;
    text-decoration: none;
    color: #5f2425;
    font-weight: 800;
}

/* PRODUCE CARDS */
/* text */
.produce {
    text-align: center;
}
.produce h2{
    margin-top: 80px;
}
.produce h3{
    /* margin-top: 10px; */
    color: #F36664;
}
.produce p{
    /* margin-bottom: 10px; */
}

/* image */
.product-card img{
    width: 80%;
}

/* card */
.product-card {
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    margin: 10px;
    border-radius: 9px;
}
.produce-container .product-card{
    margin-top: 40px ;
    width: 65%;  /*width of card*/
    justify-content: center;
    align-self: center;
}
.product-card .product-info {
    background-color: #f8f8f8;
    padding: 20px;  /*width on top and bottom on card text*/
}
.produce-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  /* .produce-container {
    display: flex;
    justify-content: center; *** TO HAVE THEM DISPLAY IN A LINE***
  } */
  

  /* DRINK CARDS */
  .produce .product-info .description {
    font-size: 14px; /* Font size for Signature Drinks section */
}

/* DRINKS SUBMITTED */
.diy-drinks{
    padding: 40px;
    background-color: #fde4b8;
    /* border: 1px solid #F36664; */
    margin: 80px 30px;
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    text-align: center;
}
.diy-drinks h3{
    /* color:#F36664; */
    /* text-shadow: 9px 9px 9px rgb(229, 227, 227); */
    padding-bottom: 10px;
}
.diy-drinks a{
    font-size: 16px;
    text-decoration: none;
    color: #5f2425;
    font-weight: 800;
    padding-bottom: 39px;
}

.diy-drinks p{
    padding-top: 19px;
}


/* LAGUNA BEACH */
.featured-location h3{
    padding: 15px 0 20px 0;
}
.featured-location img{
    width: 100%;
}  

.featured-location .laguna-description{
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.5rem;
    margin: 10px 20px;

}

/* WEATHER CARD */

.weather{
    margin: 80px 0;
    padding: 50px 0;
    text-align: center;
    position: relative; 
}
.weather-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(90%);
    opacity: .7;
    /* z-index: -1;  */
}
.weather-card{
    /* padding: 30px 0; */
    padding: 8% 0;
    /* margin: 0 20px; */
    margin: 0 5%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    position: relative; 
}
/* Current */
.current-weather{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.current-top .temperature{
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.current-top .humidity{
    /* margin-top: 50px; */
    font-size: 14px;
}
.current-top {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-right: 55px;
}
.current-bottom .weather-icon{
    width: 125px;
}
.current-bottom .condition{
    font-weight: 600;
}
/* forecast */
.forecast{
    padding: 30px 0 10px 0;
    display: flex;
    /* justify-content: space-between; */
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.forecast > div:not(:last-child){
    border-right: 1px solid white;
    padding-right: 15px;
    margin-right: 15px;
}
.forecast .weather-icon{
    width: 70px;
}


 

/********************* FOOTER *********************/ 

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #ffd998, #bf454c );
    color: #fff;
    padding: 20px 50px 20px;
    border-top-left-radius: 135px;
    font-size: 13px;
    line-height: 20px;
}

/* TOP OF HR */
.footer-topdiv{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex -start;
    justify-content: space-between;

}

/* you could probably erase this */
.footer-logo, .footer-nav, .footer-contactinfo{
    flex-basis: 100%;
    padding:10px;
}



/* LOGO COLUMN */
.logo-footer{
    width: 90px;

}

/* NAV COLUMN */
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration:  none;
    color: white;
}

/* CONTACT COLUMN */
.contact-top{
    border-bottom: 5px solid white;
    margin-bottom: 15px;
}
.footer-icon{
    width: 30px;
    margin-right: 10px;
}

/* BOTTOM OF HR */
hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}
.end-footer{
    text-align: center;
    font-size: 10px;
}
footer {
    bottom: unset; /*chnage this to 0 on other views */
}



/* #bf454c */