@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300&family=Montserrat:wght@100;200;300;400;600&display=swap');

/* BODY - ALL */
*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/********************* HOME*********************/
/* HEADER - ALL */
header{
    margin-top: 15px;
    margin-bottom: 30px;
    width:100%;
    padding: 10px 3%;
    background: white;
}
.header-hr {
    border: none;
    height: 1px;
    background-color: #F36664; 
    margin-top: 10px;
    margin-bottom: 0px;
}

/* HEADER ICONS */
.social-media img{
    width: 39px;
    margin-right: 4px
}
.contact-info img{
    width: 20px;
    display: none;
}

/* HEADER TOP */
.header-top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}
.header-top{
    align-items: center;
    margin-bottom: 0px ;
}
.header-top a{
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.contact-info a{
    margin-right:45px;
}
.contact-info a:first-child {
    display: none;
  }
  
/* HEADER BOTTOM */
/* brand title */
.company-brand{
    display: flex;
}
.bountiful-name{
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #737373;
}
.logo{
    width: 40px;
}
.navbar{
    padding-top: 8px;
}
/* hamburguer menu button*/
.hamb-menu{
    position: absolute;
    padding: 1rem;
    right: 1rem;
    display:flex;  /*(this is what we want to hide in larger views)*/
    flex-direction: column;
    justify-content: space-between;
}
/* hamburguerSwitch */
button {
    background: transparent;
    border: none;
    font-size: 2rem;
    margin-top: -6px;
    color: #737373;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
    /* color: #984710;
    background-color: #f2d4c0; */
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
 #hamburgerBtn.open span:nth-child(2) {
    display: block;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
/* menu bar display "navbar" */
#nav-bar{
    padding-top: 15px;
}
#nav-menu{
    display:none;
}
#nav-menu li{
    list-style:none;
}
#nav-menu li a{
    text-decoration: none;
    color: gray;
    padding: 1rem;
}
#nav-menu li{
    background-color: white;
    border-bottom: 1px solid #f8b4b3;
    text-align: center;
    padding: .9rem 1rem;
}

/* current & Hover */
#nav-bar a:hover{
    color: #F36664;
}
#current a {
    color: #F36664 !important;
    font-weight: 600;
}
/* toggle menu */
#nav-menu.open{
    display: block;
}


/********************* MAIN *********************/ 
main div{

    border: solid 0.5px #fffefe;
}
/* HERO IMAGE */
.hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* HERO BUTTON */
  .cta-button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color:  #ffbb5c;
    border: 4px solid #fff;
  }
  .hero-button{
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  /* FEATURED LOCATION TOP ADD*/
.featured-location{
    margin-top: 30px;
    width: 100%;
    background-color: #fbd595;
    text-align: center;
    padding: 30px;
}
.featured-location h2{
    font-size: 16px;
    padding-bottom: 10px;
}
.featured-location p{
    font-size: 10px;
    line-height: 1rem;
}
.laguna{

    font-weight: 900;
}
.featured-location a{
    font-size: 12px;
    text-decoration: none;
    color: #5f2425;
    font-weight: 800;
}

/* PRODUCE CARDS */
.produce h2{
    margin-top: 80px;
    text-align: center;
}
.product-card img{
    width: 50%;
}

.produce-container .product-card{

    margin-top: 40px ;
    width: 80%;
    /* text-align: center; */
    justify-content: center;
    align-self: center;
}




.produce {
    text-align: center;
  }
  
  /* .produce-container {
    display: flex;
    justify-content: center; *** TO HAVE THEM DISPLAY IN A LINE***
  } */
  
  .product-card {
    width: 300px;
    border: 3px solid #e0dbdb;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
  }
  
  .product-card .image {
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card .product-info {
    background-color: #f8f8f8;
    padding: 10px;
  }

  .produce-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }





 





/********************* FOOTER *********************/ 

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #ffd998, #bf454c );
    color: #fff;
    padding: 20px 50px 20px;
    border-top-left-radius: 135px;
    font-size: 13px;
    line-height: 20px;
}

/* TOP OF HR */
.footer-topdiv{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex -start;
    justify-content: space-between;

}

/* you could probably erase this */
.footer-logo, .footer-nav, .footer-contactinfo{
    flex-basis: 100%;
    padding:10px;
}





/* LOGO COLUMN */
.logo-footer{
    width: 90px;

}

/* NAV COLUMN */
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration:  none;
    color: white;
}

/* CONTACT COLUMN */
.contact-top{
    border-bottom: 5px solid white;
    margin-bottom: 15px;
}
.footer-icon{
    width: 30px;
    margin-right: 10px;
}

/* BOTTOM OF HR */
hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}
.end-footer{
    text-align: center;
    font-size: 10px;
}
footer {
    bottom: unset; /*chnage this to 0 on other views */
}



/* #bf454c */