@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300&family=Montserrat:wght@100;200;300;400;600&display=swap');

/* BODY - ALL */
*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/********************* HOME*********************/
/* HEADER - ALL */
header{
    margin-bottom:150px;
    width:100%;
    padding: 10px 3%;
    background: white;
}
.header-hr {
    border: none;
    height: 1px;
    background-color: #F36664; 
    margin-top: 10px;
    margin-bottom: 0px;
}

/* HEADER ICONS */
.social-media img{
    width: 39px;
    margin-right: 4px
}
.contact-info img{
    width: 20px;
}

/* HEADER TOP */
.header-top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}
.header-top{
    align-items: center;
    margin-bottom: 0px ;
}
.header-top a{
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.contact-info a{
    margin-right:45px;
}
.contact-info a:first-child {
    display: none;
  }
  
/* HEADER BOTTOM */
/* brand title */
.company-brand{
    display: flex;
}
.bountiful-name{
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo{
    width: 40px;
}
/* hamburguer menu button*/
.hamb-menu{
    position: absolute;
    padding: 1rem;
    right: 1rem;
    display:flex;  /*(this is what we want to hide in larger views)*/
    flex-direction: column;
    justify-content: space-between;
}
/* hamburguerSwitch */
button {
    background: transparent;
    border: none;
    font-size: 2rem;
    margin-top: -6px;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
    /* color: #984710;
    background-color: #f2d4c0; */
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
 #hamburgerBtn.open span:nth-child(2) {
    display: block;
    /* color: #984710; */
    /* background-color: #f2d4c0; */
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
/* menu bar display "navbar" */
#nav-menu{
    display:none;
}

#nav-menu li{
    list-style:none;
}
#nav-menu li a{
    text-decoration: none;
    color: gray;
    padding: 1rem;
    /* display: block; */
}
#nav-menu li{
    background-color: #f8d6b3;
    border-bottom: 1px solid #f8b4b3;
    text-align: center;
    padding: .5rem 1rem;
}
/* current & Hover */
#nav-bar a:hover{
    color: #F36664;
}
#current a {
    color: #F36664 !important;
    font-weight: 600;
}

/* toggle menu */
#nav-menu.open{
    display: block;
}










/* ********************************** */

/* navbar*/
/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #F36664;
    color: blue; MAYBE DELETE ALL OF THIS
} */
/* navbar links */
.nav-menu ul{
    /* margin: 0;
    padding: 0;
    display: flex;   MAYBE DELETE ALL OF THIS*/
}






.navbar {

    /* flex-direction: column;
    align-items: flex-start; */

}

.nav-menu ul{
/* 
    flex-direction: column;
    width: 100%   YOU CAN PROBABLU DELET THIS*/
}



/********************* MAIN *********************/ 
main div{
    background-color: #fbbf8b;
    border: solid 0.5px #fffefe;
}

/********************* FOOTER *********************/ 

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #ffd998, #bf454c );
    color: #fff;
    padding: 20px 50px 20px;
    border-top-left-radius: 135px;
    font-size: 13px;
    line-height: 20px;
}

/* TOP OF HR */
.footer-topdiv{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex -start;
    justify-content: space-between;

}

/* you could probably erase this */
.footer-logo, .footer-nav, .footer-contactinfo{
    flex-basis: 100%;
    padding:10px;
}





/* LOGO COLUMN */
.logo-footer{
    width: 90px;

}

/* NAV COLUMN */
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration:  none;
    color: white;
}

/* CONTACT COLUMN */
.contact-top{
    border-bottom: 5px solid white;
    margin-bottom: 15px;
}
.footer-icon{
    width: 30px;
    margin-right: 10px;
}

/* BOTTOM OF HR */
hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}
.end-footer{
    text-align: center;
    font-size: 10px;
}
footer {
    bottom: unset; /*chnage this to 0 on other views */
}



/* #bf454c */