/********************* HOME*********************/
        /* HEADER*/
        .contact-info a:first-child {
            display: inline;
          }
          .social-media img{
            width: 50px;
            margin-right:15px
        }
        .header-top a{
            color: black;
            text-decoration: none;
            font-size: auto;
            font-weight: 300;
        }
      
        .header-hr {
            margin-top: 20px;
        }
        .contact-info img{
            width: 30px;
        }
    /* MENU */
        #nav-menu {
        margin: 0 10px;  /*You can move "About US" more to the left on larger view */
      }
        #hamburgerBtn{
            display: none;
        }
    
        /* MENU */
    #nav-menu {
        display: flex;
        list-style: flex; 
        margin: 0 20px; 
      }
    .site-menu a{
        text-decoration: none;
        color: #737373;
        margin: 0 23px 0 23px;
    }
    .site-menu a:hover{
        color: #F36664;
    }
    .current a {
        color: #F36664;
        font-weight: 600;
      }
    
    
    /* HEADER BOTTOM */
        .logo{
            width: 60px;
        }
        .site-menu a{
            text-decoration: none;
            color: #737373;
            margin: 0 12px 0 12px;
            font-size: 15px;
        }
        .current a {
            color: #F36664;
          }
        .bountiful-name{
        font-size: 32px;
        }
    






        <main class="refresh">
        <img class="refresh-img" src="images/placeholder.webp" data-src="images/refresh-fruits.webp" alt="slices of fruits">
        <h2>CREATE YOUR SPECIAL <span>DRINK MIX !</span> </h2>             
            <div class="form">
                <form method="get">
                        <fieldset>    
                            <legend>Order Form</legend>
                            <label class="top">First Name* <input type="text" name="fname" required></label>
                            <label class="top">Last Name* <input type="text" name="lname" required></label>
                            <label class="top">Email* <input type="email" name="email" placeholder="someone@gmail.com" required></label>
                            <label class="top">Phone Number* <input type="tel" name="phone" placeholder="(000)-000-000" required></label>

                            <!-- <legend>Special Instructions</legend> -->
                            <label for="instructions">Special Instructions:</label>
                            <textarea id="instructions"  name="instructions" rows="4" cols="50"></textarea>
                            
                        </fieldset>
                    <input type="submit" value="Submit Order" class="submitBtn">  
                </form>    
                <div class="order-conf">
                    <h3>Order Confirmation</h3>
                    <p>Order date: <span class="order-date"></span></p>
                    <p>First name: <span class="order-name"></span></p>
                    <p>Email: <span class="order-email"></span></p>
                    <p>Phone: <span class="order-phone"></span></p>
                </div>       
            </div>    
    </main>


    [
    {
      "genus": "Malus",
      "name": "Apple",
      "id": 6,
      "family": "Rosaceae",
      "order": "Rosales",
      "nutritions": {
        "carbohydrates": 11.4,
        "protein": 0.3,
        "fat": 0.4,
        "calories": 52,
        "sugar": 10.3
      }
    },
    {
      "genus": "Prunus",
      "name": "Apricot",
      "id": 35,
      "family": "Rosaceae",
      "order": "Rosales",
      "nutritions": {
        "carbohydrates": 3.9,
        "protein": 0.5,
        "fat": 0.1,
        "calories": 15,
        "sugar": 3.2
      }
    },
    {
      "genus": "Persea",
      "name": "Avocado",
      "id": 84,
      "family": "Lauraceae",
      "order": "Laurales",
      "nutritions": {
        "carbohydrates": 8.53,
        "protein": 2,
        "fat": 14.66,
        "calories": 160,
        "sugar": 0.66
      }
    }
    ]
