
h1 {
    color:rebeccapurple;
    font-family: "Quicksand", "Bradley Hand",sans-serif;
}

p{
    font-family: "Indie Flower", Helvetica, sans-serif;
    color: orange;
}

h2{
    font-family: "Quicksand", "Bradley Hand",sans-serif;
    font-weight: 300;
    color: red;
}

footer{
    font-family: "Quicksand", "Bradley Hand",sans-serif;

}