@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Playfair+Display&family=Poiret+One&display=swap');

*{
    margin: 8px;
    font-family: Manrope, Helvetica, sans-serif;
}

header,footer {
    background-color: #f2d4c0;
    box-shadow: 10px 10px 15px rgb(110, 108, 105);
    border-radius: 5px;
    padding: 3px;
}

main{
    margin: 2rem auto;
}

.small-logo{
    width: 200px;
}

.container {
    display: grid;
	margin: 0 auto;
}


.name{
    font-family: Poiret One, Helvetica, sans-serif;
}

.selected-site {
    color: #b65210;
    background-color: white;
    padding: 3px 2px;
    border-radius: 50px;
    max-width: 50%;
    margin: 1rem auto;
}


img {
    width: 350px;
    display: block;
    margin: 1rem auto;
}

.typography{
    width: 450px;
}

.colors{
    width: 350px;
}

h1, h2, h3, p {
    text-align: center;
}


h1{
    color:#2e333e;
    font-family: Playfair Display, Helvetica, sans-serif;
    font-size: 26px;
}

a {
    text-decoration : none;
    color: #99460f;
}

a:focus {
    color: rgb(223, 125, 27);
}

.footer{
    color: #2e333e;
    font-size: 11px;
}

footer{
    color: #2f2d2d;
    text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
}

nav ul li a{
    display: block;
    font-weight: 400;
}


.persona{
    width: 200px;
}