@media only screen and (min-width: 1280px) {
    



    nav button{
        display: none;

    }

    nav ul#primaryNav{
        display: flex;

    }

  

/*--------Main------------*/

.container{
    grid-template-columns: 1fr 2fr 1fr;

}


#event {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 14rem;
}

#weather {
    grid-column:1/2;
    grid-row: 2/3;
    height: 14rem;
}

#join {
    grid-column: 1/2;
    grid-row: 3/4;
}





.button-join{
    grid-column: 1/4;
    font-size: 1.3rem;
    padding: 20px 1px 1px 1px;
}





/*--------Hero-------*/

.hero-container{
    grid-column: 2/3;  
    grid-row: 1/2;
    left: -18px;
    top: -20px;
}

 .hero-container img{    
    height: 165%;
}

.city{
    /* color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #171616; */
    color: rgb(47, 42, 39);
    font-size: 395%;    
    top: 70px;
    left: 30px;
}

.join-hero {
    background-color: white;
    box-shadow: 3px 3px 5px rgb(145, 145, 145);
    font-size: 1.3rem;
    color:#000000;
    text-shadow: 0 0 5px #e4c3c3;
    left: 30px;
    top: 135px;
    font-weight: 200;
}








#news {
    grid-column: 2/3;
    grid-row: 3/4;
}

#spotlights {

    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
    
    
}
.spotlight1{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 90%;
    border-radius: 15px;
}

.spotlight2{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 90%;
    border-radius: 15px;
    
} 

.spotlight3{
    display: block;  
    grid-row: 3/4;
    height: 90%;
    border-radius: 15px;
}

.spotlight1, .spotlight2, .spotlight3 {
  
    padding: 0rem;

}


.contact-info-footer{
    padding-left: 45%!important;
    
}





}