@media only screen and (min-width: 1280px) {
    /* 1280 */



    nav button{
        display: none;

    }

    nav ul#primaryNav{
        display: flex;

    }

  

/*--------Main------------*/

.container{
    grid-template-columns: 1fr 2fr 1fr;

}


#event {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 14rem;
}

#weather {
    grid-column:1/2;
    grid-row: 2/3;
    height: 14rem;
}

#join {
    grid-column: 1/2;
    grid-row: 3/4;
}





.button-join{
    grid-column: 1/4;
    font-size: 1.3rem;
    padding: 20px 1px 1px 1px;
}





/*--------Hero-------*/

.hero-container{
    grid-column: 2/3;  
    /*grid-row: 1/1;  return TEMP */
    /* left: -18px; Return TEMP */
    /* top: -20px;  Return TEMP */
    /* object-fit: cover;  Return TEMP */
    grid-row: 1/3; /* DELETE TEMP */
}

 /* .hero-container img{    
    height: 165%;
} */

picture{
    height: 0%;
}

.city{

    color: rgb(47, 42, 39);
    font-size: 395%;    
    top: 70px;
    left: 0px;
}

.join-hero {
    background-color: white;
    box-shadow: 3px 3px 5px rgb(145, 145, 145);
    font-size: 1.3rem;
    color:#000000;
    text-shadow: 0 0 5px #e4c3c3;
    left: 30px;
    top: 135px;
    font-weight: 200;
}

.hero-tex { /* DELETE TEMP */
    top: 250px;         
    left: -40px;        
    /* text-align: center;  */
}



picture.temp { /* DELETE TEMP */
    grid-column: 1/4;  /* DELETE TEMP */
    grid-row: 1/3; /* DELETE TEMP */


  }











#news {
    grid-column: 2/3;
    grid-row: 3/4;
}

#spotlights {

    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
    
    
}
.spotlight1{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 90%;
    border-radius: 15px;
}

.spotlight2{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 90%;
    border-radius: 15px;
    
} 

.spotlight3{
    display: block;  
    grid-row: 3/4;
    height: 90%;
    border-radius: 15px;
}

.spotlight1, .spotlight2, .spotlight3 {
  
    padding: 0rem;

}


.contact-info-footer{
    padding-left: 45%!important;
    
}



/*------------------------------------------------------------*/
/*--------------------------DISCOVER--------------------------*/
/*------------------------------------------------------------*/


.picture-discover{
    width: 35%;
    display: block;
    margin: auto;

}


/*------------------------------------------------------------*/
/*-----------------------------JOIN---------------------------*/
/*------------------------------------------------------------*/

/*----  FORM  ----*/

form label.side{
    padding: .4rem 0;
}

/*----  MAIN ----*/

  #join-container{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.level-info{
    margin-left: 3%;
    margin-right: 3%;
    padding: 4%;
}

/*------------------------------------------------------------*/
/*---------------------------DIRECTORY----------------------*/
/*------------------------------------------------------------*/



.directory .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.list section{
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    margin-left:0;
    width: 0;
}

.list p{
    grid-column: 2/3;
}

.list h3{
    grid-column: 4/5;
}


.list a{
    grid-column: 5/6;
}


.list{
    display: flex !important;
    flex-direction: column;
    margin: auto;
    width: auto;
}

.list section{
    text-align: center;
    display: grid;
    width: auto;
    padding: 1px;
}


.list p{
    grid-column: 2/3;
    font-size: 16px;
}

.list h3{
    grid-row: 1/2;
    grid-row: 1/2;
    font-size: 20px;
}

.list h4{
    grid-column: 3/4;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.list a{
    font-size: 18px;
    grid-row: 1/2;
}


}