@media (min-width: 680px) {

    *{
        margin: 10px!important;
      
    }

/*--------Header---------*/

    .page-title h1 {
        font-size: 2rem!important;
    }
    .page-title p {
        font-size: 1rem!important;
    }

    #date {
        padding: 16px;
        font-size: 16px !important;
    }

    .logo-header{
        width: 130px!important;
    }



    #weather {


        
    }

/*--------Main------------*/

    .container{
        grid-template-columns: 1.5fr 1fr;
    }

    #hero {
        grid-column: 1/4;
    }

    #news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    #spotlights {
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
    }

    .spotlight1{
        grid-column: 1/2;
    }

    .spotlight2{
        grid-column: 2/3;
    } 

    #join {
        display: block;
        grid-column: 1/4;
        grid-row: 4/5;
    }

    #event {
        grid-column: 1/2;

    }



    /*--------Footer--------*/

    footer {
        display: flex;
        display: grid;
  
    }

    .chamber-footer{
        display: flex;
        
        
    }

    .pg-address{
        text-align: left;

    }

  
    .contact-info-footer{
        text-align: end;
        margin-left: auto;
        padding-left: 15%;
        
    }

    .footer-info{

        display: flex;
        margin: 1rem auto!important;
 
  
    }



   


/*--------Footer---------*/



}