@media (min-width: 680px) {
    /* 680 */

    *{
        /* margin: 10px!important; */
      
    }

/*--------Header---------*/

    .page-title h1 {
        font-size: 2rem!important;
    }
    .page-title p {
        font-size: 1rem!important;
    }

    #date {
        padding: 16px;
        font-size: 16px !important;
    }

    .logo-header{
        width: 130px!important;
    }



 


/*--------Main------------*/

    .container{
        grid-template-columns: 1.5fr 1fr;
    }




    /* BRING BACK TEMP ****.hero-container{
        grid-column: 1/3;
        grid-row: 1/2;
        position: relative;
        overflow:visible;
        left: -28px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        
    } */


    .hero-container{
        overflow: visible; /* DELETE TEMP */
        grid-column: 1/3;
        grid-row: 1/2;
        /* display: grid; */
        border-color:  #e19a28;
        /* left: -60px;  Return? TEMP */
    }


      .hero-container img{
        width: 100%;
        margin: auto;
        border-radius: 15px;
        grid-column: 1/3;
        grid-row: 1/2;
        
    }

    /**************** TEMP IMAGE ****************/


    picture.temp{  
        
        border-radius: 15px;
        grid-column: 1/3;

 
    }

  



    /**************** TEMP IMAGE ****************/



    /* picture {
        grid-column: 1/3;
        grid-row: 1/2;
    } */


    
    .hero-tex {
        grid-row: 2/2; 
        line-height: 0;
        top: 300px;  /* DELETE TEMP */
        left: -45px;  /* DELETE TEMP */
    }
    
    
    
    .city{
        color: rgb(47, 42, 39);
        /* color: rgb(66, 60, 60); */
        text-shadow: 0px 0px 0px ;
        font-size: 395%;    
        top: -30px;
        left: 15px; /* ADJUST TEMP */
    }
    
    
    
    .join-hero {
        position: relative;
        background-color: #e19a28;
        color: #403a3a;
        left: 30px;
        top: 20px;
        font-weight: 700;
    }
    
  












    

     /*---Event-*/
    #event {
        grid-column: 1/2;
     
    }

  
    /*----Weather--*/

    #weather{
        position: relative;
        
    }
    
    #weather h3 {
        margin: 15px auto;
        font-size: 1.2rem;
 

    }
    
  
    
    .weather-condition {
        position: relative;
      
    }
    
    .wind-speed, .wind-chill {
        line-height: 1px;
   
    }


    /*----News--*/

    #news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

  /*------Spotlights------*/

    #spotlights {
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
    }

    .spotlight1{
        grid-column: 1/2;
    }

    .spotlight2{
        grid-column: 2/3;
    } 


    #spotlights{
        margin: 0;
        padding: 0;
    }


    /*---Join--*/

    #join {
        grid-column: 1/4;
        grid-row: 4/5;
        height: 10rem;
        border: none;
        display: grid;
        grid-template-columns: 1fr 1.3fr 1fr;
        box-shadow: 10px 10px 15px rgb(224, 224, 224);
    }


    .button-join{
        text-decoration: none;
        color: white;
        grid-column: 2/3;
        font-size: 1.3rem;
        border-radius: 8px;
        font-family: "Poiret";
        background-color:#6e6774;
        padding: 25px .5px .5px;
        text-align: center;


    }

    .button-join:hover{
        background-color: white;
        color: rgb(216, 147, 27);

    }

    #join p{
        grid-column: 1/4;
        font-size: 16px;
        text-align: center;
    }


    /*--------Footer--------*/

    footer {
        display: flex;
        display: grid;
  
    }

    .chamber-footer{
        display: flex;
        
        
    }

    .pg-address{
        text-align: left;

    }

  
    .contact-info-footer{
        text-align: end;
        margin-left: auto;
        padding-left: 15%;
        
    }

    .footer-info{

        display: flex;
        margin: 1rem auto!important;
 
  
    }



/*------------------------------------------------------------*/
/*--------------------------DISCOVER--------------------------*/
/*------------------------------------------------------------*/





    #land-icon{
        width: 200px;
    }

    #population-female, #population-male{
        height: 60px;
    }


    .growth-rate p, .population p, .house-income p{
        margin-top: 30px;
        /* text-align: center;  */
    }


    .discover-container{
        display: flex;
        margin: 10px;
        text-align: center;
    }

    .picture-discover{
        width: 60%;
        display: block;
        margin: auto;

    }
    .images-disc p{
        /* padding-top: -10px; */
        margin-top: 12px;
        margin-bottom: 30px;
        color: #a7592f;
        text-align: center;
        font-size: 14px;
        font-weight: 700;  
    }




/*------------------------------------------------------------*/
/*-----------------------------JOIN---------------------------*/
/*------------------------------------------------------------*/


/*----  MAIN ----*/

    main #join-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main section.form{
        grid-column: 1/2; 
    }
    main section.membership{
        grid-column: 2/3;
    }

    #join-container{
        margin-top: 2%;
        margin-left: 12%;
        margin-right: 12%;
    }

}