@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Playfair+Display&family=Poiret+One&display=swap');

*{
    margin: 5px;
    font-family: "Manrope", Helvetica, sans-serif;

}


/*---Header-----*/

.site-header {
    margin: -5px;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    width: 80px;
}

.social {
    width: 20px;
} 

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.page-title {
    flex: 1;
}

.page-title h1{
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #a7592f;
}
.page-title p {
    margin: -.8rem .1vw;
    font-size: .7rem;
    color: #a7592f;
}

/*---Date Message in header-----*/

/* 6.8.23UPDATE */

#date {
    margin: auto;
    /* margin-top: 25px; */
    /* margin-bottom: 15px; */
    text-align: center;
    color: #984710;
    background-color: #f2d4c0;
    padding: 10px;
    font-size: 14px;
    font-family: "Poiret One", Helvetica, sans-serif;
}



#banner {
    display: none;
    
    margin: auto;
    margin-top: -20px;
    text-align: center;
    color: #984710;;
    font-weight: 700;
    background-color: #fff6eb;
    padding: 10px;
    font-size: 16px;
    font-family: "Poiret One", Helvetica, sans-serif;
}


/*-----------Navigation Button--------------*/



nav button {
    margin: -.6rem -.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(175, 79, 19);
    
}

nav {
    background-color: #f2d4c0;

}

nav ul{
    list-style: none;
    padding: 0.8rem;
    margin:0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgb(255, 255, 255);
}


nav ul li.active a{
    background-color: rgb(255, 255, 255);
    color: #f2d4c0;
}


nav ul li a:hover {
    background-color: #ffffff;
    color:rgb(175, 79, 19);
}

/*---Hide Nav-----*/
nav ul {
    display:none;

}

nav ul.open {
    display: block;

}

/*---Close Menu in Nav-----*/
#hamburgerBtn span:nth-child(1) {
    display: block;

    
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}





/*------hero--------*/ 



.hero-container{
    margin: 0;
    position: relative;
    overflow: hidden;
    /* width: 1fr; */
    /* display: grid; */
    grid-template-columns: 1fr 3fr 1fr;
    border: none;
    

}



    /**************** TEMP IMAGE ****************/

picture {
    border: none;
    grid-column: 1/4;
    margin: -30px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* border-radius: 8px; */
    opacity: .6;
}

picture.temp {
    /* display: block; */
    width: 100%;
    /* padding: auto; */
    margin: -25px -25px;
  }

  main picture.temp img {
    width: 100%;
  
  }





   /**************** END TEMP IMAGE ****************/



.hero-tex {
    position: absolute;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2; 
    font-size: 1rem;
    /* left: 5px; */     /* RETURN TEMP */
    top: 100px;         /* DELETE TEMP */
    left: -25px;        /* DELETE TEMP */
    color: rgb(47, 42, 39);
    line-height: 3em;
    border: none;
    text-align: center;
}



.city{

    
    position: absolute;
    font-size: 1.8rem;
    width: 100%;
    text-shadow: 0 0 20px #ffffff;
    top: 5px;
}


.button-box{
    border: none;
    margin-top: 35px;

}

.join-hero {
    background-color:   #221e4e;
    color: white;
  
    text-decoration: none;
    font-family: "Montserrat", Helvetica, sans-serif;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 400;
    box-shadow: 3px 3px 5px rgb(224, 224, 224);
}

.join-hero:hover {
    background-color: white;
    color: #a7592f;
} 








/*----------------------------------Main-------------------------------*/


.container{
    display: grid;
    grid-template-columns: 1fr;
}

main section, main div{
    border: 5px solid rgb(245, 242, 242);
    border-radius: 8px;
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-family: "Poiret One";
}













/*----------elements-------------*/



#hero, #event, #weather, #news, #join{
    background-color: #f7e5d9;
    font-family: "Poiret One";
    font-size: 12px;
    height: 10rem;
}



/*----Event-----*/


#event{
    height: 12rem;
    border: 1px;
}

#event h3 {
    text-align: center;
    text-shadow: 0 0 8px #ffaeae;
    color: #a7592f;
    font-size: 1.6rem;
    margin: 10px auto;

}
#event-date{
    color: black;
    text-shadow:0 0 8px #ffaeae;
    font-size: 1rem;

}

#event p {
    text-align: justify;
    /* font-size: 0.8rem; */
    padding: .5rem  .5rem;
    text-align: center;

}

/*----Weather----*/

#weather{
    border: 1px solid #f7e5d9;
    background-color: #ffffff;
    display: grid;
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    height: 12rem;
}

#weather-icon {
    margin-top: 0;
    width: 60px;
}

.weather-div{
    border: none;
    display: flex;
    margin:  -10px 0px 0 50px;
    padding: 0;
    text-align: center;
}

#weather h3 {
    font-size: 1.6rem;
    padding-top: -10px;
}

#weather #w-temp {
    font-size: 1.8rem;
}

figcaption{
    font-size: 1rem;
    font-weight: bolder;
    color:rgb(57, 111, 113) ;
    margin: 0;
}

#weather hr {
    border-top: 1px solid black; 
}

#weather span{
    font-size: 1.1rem;
}




/*----News---*/

#news{
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    border: 1px;
}

#news h3 {
    text-align: center;
    margin: 10px auto;
    color: #a7592f;
    font-size: 1.6rem;
}

#news p {


    padding: .5rem .5rem;
}


/*-----Spotlights-------*/

#spotlights{
    border: 1px;
    background-color: white;
    font-family: "Poiret One";

    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    color: #a7592f;
}


.spotlight2 h3, .spotlight3 h3, .spotlight1 h3{ 
    font-size: 1.5rem;
}
.spotlight2 p, .spotlight3 p, .spotlight1 p{ 
    color: black;
    font-size: .8rem;
}

#garden-icon {
    font-size: 2rem;
    margin: 0 auto;
}

#fitness-icon {
    font-size: 2rem;
    margin: 0 auto;
}

.spotlight3{ 
    display: none;
}

.spotlight1, .spotlight2, .spotlight3 {
    border-radius: 1px;
    border: 2px solid #ffffff;
    background-color: #fef2e9;
    padding: 1rem 1rem;
    height: 12rem;
}



/*----Join----*/

#join {
    display: none;
}








/*--------------------------------Footer-------------------------------*/


.logo-footer{
    width: 200px;
}


footer {
    background-color: #f2d4c1;
    border-radius: 5px 5px 5px 5px;
    /* box-shadow: 10px 10px 15px rgb(110, 108, 105); */
}

footer {
    text-align: center;
    padding: 1px;
}

.chamber-footer h4{
    color: #8d4311;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

.chamber-footer p{
    color:#2e333e;
    font-size: 14px;
}

.chamber-footer a{
    font-size: 14px;
    text-decoration : none;
    color: #913e07;

}

.footer-info p{
    font-size: 12px;

}




/*------------------------------------------------------------*/
/*--------------------------DISCOVER--------------------------*/
/*------------------------------------------------------------*/

/*---TOP---*/
.pg-discover, .pg-discover-images {
    color: #a7592f;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    padding-bottom: 14px;
}

.discover-container{
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0;
}

.discover-container h2{
    font-size: 20px;
}

.discover-container div{
    border: none;


}

#land-icon{
    width: 110px;
}

#population-female, #population-male{
    height: 30px;
}


.large-numb{
    font-size: 18px;
    font-weight: 800;
    color: #a7592f;
}

.popu-box p{
    font-size: 12px;
    
}

.land-area{

    margin: 0 auto;
    /* padding: auto; */
    grid-column: 1/2;
    /* grid-row: 1/2; */
}

.popu-box{
    
    margin: 0 auto;
    padding: 0;
    display: flex;
    border: none;
}
.population{
    margin: 0 auto;
    grid-column: 2/4;
    /* grid-row: 1/2; */
}

.growth-rate{
    background-color: #fef2e9;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/3;
}

.house-income{
    background-color: #fef2e9;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0 auto;
    /* padding: 0; */
}



/*---BOTTOM---*/

.picture-discover{
    width: 100%;
    border-radius: 9px;
    box-shadow: 20px 20px 25px rgb(224, 224, 224);
    transition: transform .8s;
    margin-bottom: 15px;
    margin-top: 50px;
    
}

.picture-discover:hover{
    opacity: .9;
    transform: scale(1.08);
}

.images-disc {
    border: none;
    
    
}

.pg-discover-images {
    margin-top: 55px;
    margin-bottom: -55px;
}

.images-disc p{
    color: #a7592f;
    text-align: center;
    font-size: 14px;
    font-weight: 700;  
    margin:  auto;
    /* padding: auto; */
    margin-bottom: 15px;

}



.visit-container{
    text-align: center;
    border: none;
    background-color: #fef2e9;
}
#user-visit{
    color: #a7592f;
    font-weight: 900;

}

span.picture-title{
 
    /* margin-top: -50px; */
    color: #241098;
    font-weight: 900;
}

.event-div{
   text-align: center;
   border: none;
   /* width: 120%; */
   margin:  auto;
   
}




/*------------------------------------------------------------*/
/*-----------------------------JOIN---------------------------*/
/*------------------------------------------------------------*/

/*----  FORM  ----*/

form fieldset{
    margin: 2rem 0;
    border: 1px solid #913e07;
    border-radius: 10px;
    padding: .5rem 3%;
}

form legend{
    color:#2e333e;
    font-weight: bold;
    margin: 0 1rem;
    font-size: 1.2rem;
    
}

form label.top, form div{
    display: block;
    padding-top: 1.5rem;
    color:#2e333e;
    font-size: .92rem
}

form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #f3eeee;
    border-radius: 4px;
    padding: .75rem;
    color:#30277c;
    width: 100%;
    max-width: 18rem;
    background:white;
}

form label.side {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn{
    border: none;
    background-color: #2e333e;
    color:rgb(255, 255, 255);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 12rem;
}

form label.top input:required {
    border-left: #d9a68b solid 6px;
}

form label.top input:required:valid {
    border-left: #e7dbd4 solid 6px;
}


/*----  MAIN ----*/

#join-container{
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 25%;
}

.join-header{
    text-align: center;
    border: none;

}


.level-info{
    padding: 6%;
    margin-left: 5%;
    margin-right: 5%;
    transition: transform .5s;
}

.level-hr {
    margin-top: 8px;
    margin-bottom: 15px;
    width: 85%;
}

.level-info:hover{
    opacity: .9;
    transform: scale(1.04);
}

.form,
.membership {
  padding-top: 40px;
  border: none;
}

.form div{
    border: none;
    margin: auto;
    background-color:  #fef5ee;
}

.membership div{
    margin-top: 40px;
}

span.level-title{
    color: #984710;
    font-weight: 900;
}

p.level-descr{
    font-size: 15px;
}

div.level-info{
    border: 1px solid #f7e5d9;
    box-shadow: 10px 10px 15px rgb(224, 224, 224);

}

.join-header h2{
    color: #383b43;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 3px;
    text-shadow: 1px 1px 9px rgba(0, 15, 9, .3);
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    padding-bottom: 1rem;
}



.join-header h1{
    color: #a7592f;
    text-shadow: 2px 2px 4px rgba(1, 1, 9, 0.3);
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-family: "Playfair Display", Helvetica, sans-serif;
}




.form h2, .membership h2{
    color: #2e333e;
    font-size: 1.7rem;
}

.join-jeader p{
    color: #913e07;
}




/*------------------------------------------------------------*/
/*----------------------------THANK YOU-----------------------*/
/*------------------------------------------------------------*/


#thanks h1{
    color: #913e07;
    font-family: "Playfair Display", Helvetica, sans-serif;
    text-align: center;
    padding-top: 10%;
}

.thanks-container{
    padding: 10%;
    padding-bottom: 50%;
    border: none;
    text-align: center;
}

/*------------------------------------------------------------*/
/*--------------------------Directory---------------------*/
/*------------------------------------------------------------*/


.directory{
    padding-top: 60px;
    
}

.directory h2{
    padding-bottom: 80px;
    padding-left: 1rem;
    color: #b66c44;
    text-shadow: 2px 2px 4px rgba(1, 1, 9, 0.3);
    letter-spacing: 1px;
    font-size: 2rem;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

.directory section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 50px auto;
    padding: 2% 0 8% 0;
    width: 400px;
    text-align: center;
    border: none;
    transition: transform .9s;
    
  }

.directory section:hover{
    opacity: .9;
    transform: scale(1.05);
}


.directory .cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #fff7f1;
    border: none;
}

.cards p {
    font-weight: bold;
    font-size: .8rem;
    line-height: 11px;
    color: rgb(78, 76, 76);
}

.cards h2 {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 1rem;
    line-height: 11px;
    color: rgb(78, 76, 76);
}

.cards h3 {
    color: rgb(199, 118, 60);
    font-weight: bolder;
    text-shadow: 2px 2px 4px #d6bebe;
}

.cards h4 {
    color: rgb(199, 118, 60);
    padding-bottom: .3rem;
}

.cards a {
    font-size: 14px;
    line-height: 40px;
    color: rgb(143, 196, 208);
    font-style: italic;
    font-weight: lighter;
}

.cards img {
    width: 65%;
    border: .7px solid rgb(252, 252, 252);
    border-radius: 5px; 
}

/* adding buttons */

/* Menu Buttons */
.directory-menu {
    font-size: 1.2rem;
    margin-bottom: auto;
    border: none;
    text-align: center;
  }


.list section{
    text-align: center;
    display: grid;
	grid-template-columns: 1fr;
    margin: 10px;
    width: auto;

}
.list .directory {
    background-color: red !important;
}
.list .cards{
    max-width: fit-content;
    text-align: center;
	display: flex;
	flex-direction: column;
    
}
  
.list section:nth-child(odd) {
  background-color: #fff7f1;
  
}
  
  .list h2 {
    font-size: 1.5rem;
    line-height: 25px;
    
  }
  
  .list  img {
    display: none;
  }

  .list a{
    color:black ;
  }
  
  
  




/* .directory .cards section{
    display: grid;
	grid-template-columns: 1fr 2fr ;
} */

