@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Playfair+Display&family=Poiret+One&display=swap');

*{
    margin: 5px;
    font-family: "Manrope", Helvetica, sans-serif;
}


/*---Header-----*/

.site-header {
    margin: -5px;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    width: 80px;
}

.social {
    width: 20px;
} 

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    flex: 1;
}

.page-title h1{
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #a7592f;
}
.page-title p {
    margin: -.8rem .1vw;
    font-size: .7rem;
    color: #a7592f;
}

/*---Date Message in header-----*/

#date {
    margin: auto;

}

#date {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: #984710;
    background-color: #f2d4c0;
    padding: 10px;
    font-size: 12px;
    font-family: "Poiret One", Helvetica, sans-serif;
}

/*-----------Navigation Button--------------*/


nav button {
    margin: -.6rem -.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(175, 79, 19);
}

nav {
    background-color: #f2d4c0;

}

nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgb(255, 255, 255);
}


nav ul li.active a{
    background-color: rgb(255, 255, 255);
    color: #f2d4c0;
}


nav ul li a:hover {
    background-color: #ffffff;
    color:rgb(175, 79, 19);
}

/*---Hide Nav-----*/
nav ul {
    display:none;
}

nav ul.open {
    display: block;
}

/*---Close Menu in Nav-----*/
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}





/*------hero--------*/
/* 

OPTION 1
.hero-container{ 

    position: relative;
    border: 1px dashed cyan;

 


    height: 10rem;
}

.hero-img{

    
    width: 100%;
    grid-column: 1/2;
}

#hero {
    position: absolute;
    top: 130px;
    left: 30px;
    background: pink;

} 




OPTION 2

.hero-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.hero-img{
    width: 100%;   
}

#hero {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}



OPTION 3
.hero-style{
    background-color: rgba(0, 126, 167, .9);

    border-radius: 5px;

    color: white;

    text-align: justify;

}

#hero-box{
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    box-shadow: 0 1px 12px #007EA7;

}
#hero-box img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
}

.hero-text {
    position: absolute;
    top: 130px;
    left: 10px;
    background: pink;

} 

*/

.hero-container{
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 1fr;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: none;

}


.hero-container img{
    border: none;
    grid-column: 1/4;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: .7;

}

.hero-tex {
    position: absolute;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2; 
    font-size: 1rem;
    left: 5px;
    color: rgb(47, 42, 39);
    line-height: 3em;
    border: none;
    text-align: center;
}


.invite{
    display: none;


}
.city{
    position: absolute;
    font-size: 1.8rem;
    width: 100%;
    text-shadow: 0 0 3px #ffffff;
}


.button-box{
    border: none;
    margin-top: 40px;

}

.join {
    background-color:#c0947c;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", Helvetica, sans-serif;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 700;
}

.join:hover {
    background-color: white;
    color: #a7592f;
} 








/*----------------------------------Main-------------------------------*/


.container{
    display: grid;

    grid-template-columns: 1fr;
}

main section, main div{
    border: 5px solid rgb(245, 242, 242);
    border-radius: 8px;
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-family: "Poiret One";
}













/*----------elements-------------*/



#hero, #event, #weather, #news, #join{
    background-color: #f7e5d9;
    font-family: "Poiret One";
    font-size: 12px;
    height: 10rem;
}



/*----Event-----*/


#event{
    height: 12rem;
    border: 1px;
}

#event h3 {
    text-align: center;
    text-shadow: 0 0 8px #ffaeae;
    color: #a7592f;
    font-size: 1.6rem;
    margin: 10px auto;

}
#event-date{
    color: #a7592f;
    text-shadow:0 0 8px #ffaeae;
    font-size: 1rem;

}

#event p {
    text-align: justify;
    /* font-size: 0.8rem; */
    padding: .5rem  .5rem;
    text-align: center;

}

/*----Weather----*/

#weather{
    border: 1px solid #f7e5d9;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    height: 12rem;
    /* line-height: 10px; */

}

.weather-icon {
    grid-column: 1/2;
    font-size: 4rem;
    margin: 0 auto;
}

#weather h3 {
    grid-column: 1/2;
    margin: 10px auto;
    margin: 0 auto;
    font-size: 1.6rem;
}



.temp{
    grid-column: 3/5;
    font-size: 2.8rem;
    font-weight: 900;
    margin-top: -40px;

}

.weather-condition {
    grid-column: 2/5;
    font-size: 1.5rem;
    margin:0 auto;
    margin-top: -40px;
    

}

#weather hr {
    grid-column: 1/5;
    
}

.wind-speed, .wind-chill {
    grid-column: 1/5;
    margin:0 auto;
}




/*----News---*/

#news{
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    border: 1px;
}

#news h3 {
    text-align: center;
    margin: 10px auto;
    color: #a7592f;
    font-size: 1.6rem;
}

#news p {
    margin: 0 auto;
    text-align: justify;
    padding: .5rem .5rem;
}


/*-----Spotlights-------*/

#spotlights{
    border: 1px;
    background-color: white;
    font-family: "Poiret One";

    box-shadow: 10px 10px 15px rgb(224, 224, 224);
    color: #a7592f;
}


.spotlight2 h3, .spotlight3 h3, .spotlight1 h3{ 
    font-size: 1.5rem;
}
.spotlight2 p, .spotlight3 p, .spotlight1 p{ 
    color: black;
    font-size: 1rem;
}

#garden-icon {
    font-size: 2rem;
    margin: 0 auto;
}

#fitness-icon {
    font-size: 2rem;
    margin: 0 auto;
}

.spotlight3{ 
    display: none;
}

.spotlight1, .spotlight2, .spotlight3 {
    border-radius: 1px;
    border: 2px solid #ffffff;
    background-color: #fef2e9;


    padding: 1rem 1rem;
    height: 12rem;
}



/*----Join----*/

#join {
    display: none;
}








/*--------------------------------Footer-------------------------------*/


.logo-footer{
    width: 200px;
}


footer {
    background-color: #f2d4c1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 15px rgb(110, 108, 105);
}

footer {
    text-align: center;
    padding: 1px;
}

.chamber-footer h4{
    color: #8d4311;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

.chamber-footer p{
    color:#2e333e;
    font-size: 14px;
}

.chamber-footer a{
    font-size: 14px;
    text-decoration : none;
    color: #913e07;

}

.footer-info p{
    font-size: 12px;

}





/*-------------Hero IMAGE

#hero {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-img{
    margin-left: -15px;
    width: 110% ;

}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;

    text-align: center;

}

.home-title{
    color: #ffffff;
    font-size: 26px;
    margin: auto;
    margin-top: 55px;
    text-align: center;

}
******
main section, main div{
    display: block;
    border: 5px solid rgb(245, 242, 242);
    border-radius: 8px;
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-family: "Poiret One";
}
****




-------------*/

