@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Playfair+Display&family=Poiret+One&display=swap');

*{
    margin: 5px;
    font-family: "Manrope", Helvetica, sans-serif;
}


/*---Header-----*/

.site-header {
    margin: -5px;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    width: 80px;
}

.social {
    width: 20px;
} 

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    flex: 1;
}

.page-title h1{
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #a7592f;
}
.page-title p {
    margin: -.8rem .1vw;
    font-size: .7rem;
    color: #a7592f;
}

/*---Date Message in header-----*/

#date {
    margin: auto;

}

#date {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: #984710;
    background-color: #f2d4c0;
    padding: 10px;
    font-size: 12px;
    font-family: "Poiret One", Helvetica, sans-serif;
}

/*-----------Navigation Button--------------*/


nav button {
    margin: -.6rem -.5vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(175, 79, 19);
}

nav {
    background-color: #f2d4c0;

}

nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgb(255, 255, 255);
}


nav ul li.active a{
    background-color: rgb(255, 255, 255);
    color: #f2d4c0;
}


nav ul li a:hover {
    background-color: #ffffff;
    color:rgb(175, 79, 19);
}

/*---Hide Nav-----*/
nav ul {
    display:none;
}

nav ul.open {
    display: block;
}

/*---Close Menu in Nav-----*/
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}





/*----------------------------------Main-------------------------------*/

.container{
    display: grid;
    grid-template-columns: 1fr;
}

main section, main div{
    border: 5px solid rgb(245, 242, 242);
    border-radius: 8px;
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-family: "Poiret One";
}

/*----------elements-------------*/



#hero, #event, #weather, #news, #join{
    background-color: #f7e5d9;
    font-family: "Poiret One";
    font-size: 12px;
    height: 10rem;
}



/*-----Spotlights-------*/

#spotlights{
    background-color: #f7e5d9;
    font-family: "Poiret One";
    font-size: 12px;
}

.spotlight3{ 
    display: none;
}

.spotlight1, .spotlight2, .spotlight3 {
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #fef2e9;
    margin: 10px 10px;
    padding: 1rem 1rem;
    height: 10rem;
}

/*----Join----*/

#join {
    display: none;
}

/*--------------------------------Footer-------------------------------*/


.logo-footer{
    width: 200px;
}


footer {
    background-color: #f2d4c1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 15px rgb(110, 108, 105);
}

footer {
    text-align: center;
    padding: 1px;
}

.chamber-footer h4{
    color: #8d4311;
    font-family: "Playfair Display", Helvetica, sans-serif;
}

.chamber-footer p{
    color:#2e333e;
    font-size: 14px;
}

.chamber-footer a{
    font-size: 14px;
    text-decoration : none;
    color: #913e07;

}

.footer-info p{
    font-size: 12px;

}





/*-------------Hero IMAGE

#hero {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-img{
    margin-left: -15px;
    width: 110% ;

}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;

    text-align: center;

}

.home-title{
    color: #ffffff;
    font-size: 26px;
    margin: auto;
    margin-top: 55px;
    text-align: center;

}
******
main section, main div{
    display: block;
    border: 5px solid rgb(245, 242, 242);
    border-radius: 8px;
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-family: "Poiret One";
}
****




-------------*/

