body{
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: white;
}

header {
    display: flex;
    align-items:stretch;
}

header,footer {
    background-color: rgb(247, 196, 172);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 15px rgb(118, 99, 81);
}

img{
    margin: 30px 30px 30px 30px;
    border-radius: 5%;
    box-shadow: 10px 10px 15px rgb(118, 99, 81);
}
h1, h3{
    color: white;
}

h1{
    padding-top: 40px;
    padding-left: 75px;
    text-align:center;
}

h2, ul{
    color: rgb(118, 99, 81)
}

h4 { 
    color: rgb(255, 228, 196)
}

ul{
    list-style-type: none;
}

a{
    color: rgb(240,169,136)
}

footer {
    text-align: center;
    padding: 10px;
}